.footer {
    background-color: #EEF1F5;
    &__inners {
        display: flex;
        justify-content: space-around;
        align-items: center;
        @media (max-width: $mobile) {
            flex-direction: column;
        }
    }
    &__column-logo {
        @include adaptiveValue("padding-top", 50, 40);
    }
    &__column-menu {
        @include adaptiveValue("padding-top", 65, 30);
    }
    &__column-btn {
        @include adaptiveValue("padding-top", 65, 45);
    }
    &__column-img {
        max-width: rem(129);
        width: 100%;
        height: rem(60);
        img {
            max-width: 100%;
            display: block;
            object-fit: cover;
        }
    }
    &__column-btn-link {
        position: relative;
        color: initial;
        font-size: rem(14);
        font-weight: 600;
        line-height: math.div(30, 14);
        text-transform: uppercase;
        &::before {
            content: '';
            position: absolute;
            top: rem(-7);
            left: rem(-44);
            background: url(../img/icon-learn-more.png) no-repeat;
            width: rem(36);
            height: rem(36);
        }
    }
    &__menu {
        padding: rem(0) rem(10);
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        @include adaptiveValue("column-gap", 50, 20);
        @media (max-width: $mobile) {
            flex-direction: column;
            row-gap: rem(15);
        }
    }
    &__link {
        font-size: rem(13);
        line-height: math.div(28, 13);
        font-weight: 600;
        color: initial
    }
    &__bottom {
        @include adaptiveValue("padding-top", 120, 48);
        @include adaptiveValue("padding-bottom", 62, 32);
    }
}