body {
    color: $mainColor;
    font-size: rem(18);
    line-height: calc(25 / 18 * 100%);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

body,
html {
    overflow-x: hidden!important;
}

a {
    transition: all .3s ease;
}