.header {
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    transition: all .2s ease-in-out 0s;
    padding-top: rem(46);
    padding-bottom: rem(34);
    @media (max-width: $mobileSmall) {
        padding-top: rem(70);
    }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    &__body {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: rem(10);
        position: relative;
        z-index: 2;
        @media (max-width: $mobile) {
            display: block;
            text-align: center;
            margin: rem(166) rem(0) rem(0);
            padding: rem(0) rem(20);
        }
    }
    &__link {
        color: inherit;
        font-size: rem(14);
        font-weight: 600;
        @media (max-width: $mobile) {
            text-transform: uppercase;
            font-size: rem(18);
        }
        &:hover {
            color: $colorHover;
        }
    }
    &__item {
        margin: 0 0 0 rem(25);
        @media (max-width: $mobile) {
            margin: 0 0 rem(40) 0;
            &:last-child {
                margin-bottom: rem(70);
            }
        }
    }
    &__logo {
        max-width: rem(99);
        width: 100%;
        height: rem(46);
        object-fit: cover;
        position: relative;
        z-index: 10;
        @include adaptiveValue("margin-right", 100, 20);
        img {
            max-width: 100%;
            display: block;
            object-fit: cover;
        }
    }
    &__burger {
        display: none;
        cursor: pointer;
        @media (max-width: $mobile) {
            display: block;
            position: relative;
            width: rem(30);
            height: rem(20);
            z-index: 3;
            &::before,
            &::after {
                content: '';
                background-color: #323232;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
            }
            &::before {
                top: 0;
            }
            &::after {
                bottom: 0;
            }
        }
        span {
            position: absolute;
            background-color: #323232;
            left: 0;
            width: 100%;
            height: 2px;
            top: 9px;
            transition: all 0.3s ease 0s;
        }
    }
    &__menu {
        flex: 1 1 auto;
        padding: 0 rem(10);
        @media (max-width: $mobile) {
            position: fixed;
            top: -100%;
            right: 0;
            width: 100%;
            height: 100%;
            background-color: #fff;
            transition: all 0.3s ease 0s;
            //overflow: auto;
            padding: rem(0);
        }
    }
    &__btn {
        position: relative;
        z-index: 2;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &__actions {
        display: flex;
        align-items: center;
        gap: rem(40);
    }
    &__register {
        @media (max-width: $mobile) {
            display: block;
            text-align: center;
        }
    }
    &__register-btn-link {
        display: flex;
        justify-content: center;
        align-items: center;
        width: rem(250);
        padding: rem(11) rem(44);
        @include adaptiveValue("padding-left", 44, 15);
        @include adaptiveValue("padding-right", 44, 15);
        font-size: rem(14);
        text-transform: uppercase;
        font-weight: 600;
        border: 1px solid #323232;
        color: initial;
        &:hover {
            background-color: $bgHover;
            color: #fff;
        }
        @media (max-width: $mobile) {
            background-color: #323232;
            color: #fff;
            max-width: 100%;
            margin: auto;
        }
    }
    &__languages {
        margin-right: 14px;
        @media (max-width: $mobile) {
            display: none;
        }
    }
    &__languages-list {
        list-style: none;
    }
    &__languages-item {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 8px;
            right: -14px;
            background: url(../img/str-down.png) no-repeat center;
            width: rem(10);
            height: rem(8);
        }
    }
    &__languages-link {
        color: inherit;
        font-size: rem(14);
        font-weight: 600;
    }
}

.banner-home__container-big {
    padding: 0;
}

.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    box-shadow: 2px 4px 7px 4px rgb(0 0 0 / 50%);
    background: rgba(255, 255, 255, 1);
}

.header__burger.header__active:before {
    transform: rotate(45deg);
    top: rem(9);
}

.header__burger.header__active:after {
    transform: rotate(-45deg);
    bottom: rem(9);
}

.header__burger.header__active span {
    transform: scale(0);
}

.header__menu.header__active {
    top: 0;
}

.menu-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
    box-shadow: 2px 4px 7px 4px rgb(0 0 0 / 50%);
    background: rgba(255, 255, 255, 1);
}