.speakers {
    @include adaptiveValue("padding-top", 80, 40);
    @include adaptiveValue("padding-bottom", 80, 40);
    &__row {
        display: flex;
        gap: rem(40);
    }
    &__aside-title {
        font-size: rem(22);
        margin-bottom: rem(20);
    }
    &__name {
        margin-top: rem(20);
        a {
            font-size: rem(16);
            line-height: math.div(28, 16);
            font-weight: 600;
            color: initial;
        }
    }
    &__select-name {
        display: block;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }
    &__btn-aside {
        border: rem(1) solid #323232;
        display: block;
        width: 100%;
        background-color: #EEF1F5;
        padding: rem(4) rem(8);
        margin-top: rem(15);
    }
    &__content-row {
        display: flex;
        justify-content: space-between;
        column-gap: rem(47);
    }
    &__content-column {
        flex: 1 1 33.333%;
    }
    &__picture {
        img {
            max-width: rem(230);
            width: 100%;
            height: rem(230);
            object-fit: cover;
        }
    }
    &__content {
        h2 {
            font-size: rem(36);
            line-height: math.div(44, 36);
            font-weight: 900;
            margin-bottom: rem(40);
        }
    }
}

.content {
    @include adaptiveValue("padding-top", 80, 40);
    @include adaptiveValue("padding-bottom", 80, 40);
    &__inners {
        display: flex;
        gap: rem(40);
        @media (max-width: $tablet) {
            flex-direction: column;
        }
    }
    &__column {
        flex: 0 1 50%;
    }
    &__column-title {
        padding-bottom: rem(20);
        h1 {
            font-size: rem(28);
            line-height: calc(28 / 28 * 100%);
        }
    }
    &__column-img {
        max-width: rem(500);
        width: 100%;
        height: rem(400);
        object-fit: cover;
    }
}

.sessions {
    @include adaptiveValue("padding-top", 60, 20);
    &__title {
        padding-bottom: rem(20);
        h2 {
            font-size: rem(24);
            line-height: calc(24 / 24 * 100%);
            margin-bottom: rem(20);
        }
    }
    p {
        font-size: rem(16);
        line-height: calc(34 / 16 * 100%);
    }
    &__list {
        list-style: none;
        margin: rem(0);
        padding: rem(0);
        li {
            font-size: rem(18);
            line-height: math.div(34, 18);
        }
    }
}